<!-- CSS -->

{{ $styles := resources.Get "/css/extended/custom.scss" | toCSS }}
{{ range .Site.Params.customCSS -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

<!-- CSS -->

<!-- Javascript -->

{{ range .Site.Params.customJS -}}
  <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

<!-- Javascript -->

<link
  rel="stylesheet"
  href="{{ $styles.Permalink }}"
  integrity="{{ $styles.Data.Integrity }}"
  media="screen"
/>

<!-- For Colorful Logo Text -->
<link
  href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap"
  rel="stylesheet"
/>
